<div>
  <h1>Sign-In / Sign-Out</h2>
  <h4>( ͡° ͜ʖ ͡°)</h4>
  <hr/>

  <ul class="well well-lg">
    <div ng-repeat="student in students | orderBy:'name'">
      <li>
        <button ng-show="!student.present" ng-click="setPresent(student)" class="btn btn-info btn-width">Sign-In</button>
        <button ng-show="student.present" ng-click="setPresent(student)" class="btn btn-danger btn-width">Sign-Out</button>
        {{ student.name }}
      </li>
    </div>
  </ul>

  <button ui-sref="home" class="btn btn-success">Back Home</button>
</div>
