<div>
  <h1>Who is here?</h2>
  <h4>( ͡° ͜ʖ ͡°)</h4>
  <hr/>
  <!-- present students list -->
  <h4>Present:</h4>
  <ul class="well well-lg here">
    <div ng-repeat="student in students | orderBy:'name'" ng-show="student.present">
        <li>{{ student.name }}</li>
    </div>
  </ul>

  <!-- not present students list -->
  <h4>Missing in Action:</h4>
  <ul class="well well-lg missing">
    <div ng-repeat="student in students | orderBy:'name'" ng-show="!student.present">
        <li>{{ student.name }}</li>
    </div>
  <ul>

  <button ui-sref="home" class="btn btn-success">Back Home</button>
</div>
